<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARJn4LFvxW0ajEr90m_dFEPSs_AEejUyY</string>
	<key>GCM_SENDER_ID</key>
	<string>735686852461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rider.app</string>
	<key>PROJECT_ID</key>
	<string>driver-rxvh5d</string>
	<key>STORAGE_BUCKET</key>
	<string>driver-rxvh5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735686852461:ios:2be90d57a3dfed567ae464</string>
</dict>
</plist>